@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, night --prefersdark;
}

.scrrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrrollbar-hide::-webkit-scrollbar-track {
  display: none;
}
.ProseMirror p.is-editor-empty:first-child::before {
  color: #aaa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.prose code{
  @apply bg-primary-content
}
.prose h1 {
  @apply lg:text-4xl font-bold md:text-3xl text-2xl
}
.prose h2 {
 @apply lg:text-3xl font-bold md:text-2xl text-xl
}
.prose h3 {
  @apply lg:text-2xl font-bold md:text-xl text-lg
}

